
@font-face {
    font-family: 'GothamPro-Bold';
    src: url('GothamPro-Bold/GothamPro-Bold.eot');
    src: url('GothamPro-Bold/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('GothamPro-Bold/GothamPro-Bold.woff2') format('woff2'),
        url('GothamPro-Bold/GothamPro-Bold.woff') format('woff'),
        url('GothamPro-Bold/GothamPro-Bold.ttf') format('truetype'),
        url('GothamPro-Bold/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'GothamPro-Light';
    src: url('GothamPro-Light/GothamPro-Light.eot');
    src: url('GothamPro-Light/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
        url('GothamPro-Light/GothamPro-Light.woff2') format('woff2'),
        url('GothamPro-Light/GothamPro-Light.woff') format('woff'),
        url('GothamPro-Light/GothamPro-Light.ttf') format('truetype'),
        url('GothamPro-Light/GothamPro-Light.svg#GothamPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'St-Transmission-Condensed-Thin';
    src: url('St-Transmission-Condensed-Thin/St-Transmission-Condensed-Thin.eot');
    src: url('St-Transmission-Condensed-Thin/St-Transmission-Condensed-Thin.eot?#iefix') format('embedded-opentype'),
        url('St-Transmission-Condensed-Thin/St-Transmission-Condensed-Thin.woff2') format('woff2'),
        url('St-Transmission-Condensed-Thin/St-Transmission-Condensed-Thin.woff') format('woff'),
        url('St-Transmission-Condensed-Thin/St-Transmission-Condensed-Thin.ttf') format('truetype'),
        url('St-Transmission-Condensed-Thin/St-Transmission-Condensed-Thin.svg#St-Transmission-Condensed-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'St-Transmission-SemiBold';
    src: url('St-Transmission-SemiBold/St-Transmission-SemiBold.eot');
    src: url('St-Transmission-SemiBold/St-Transmission-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('St-Transmission-SemiBold/St-Transmission-SemiBold.woff2') format('woff2'),
        url('St-Transmission-SemiBold/St-Transmission-SemiBold.woff') format('woff'),
        url('St-Transmission-SemiBold/St-Transmission-SemiBold.ttf') format('truetype'),
        url('St-Transmission-SemiBold/St-Transmission-SemiBold.svg#St-Transmission-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}




