
@font-face {
    font-family: 'GothamPro-Bold';
    src: url('GothamPro-Bold/GothamPro-Bold.eot');
    src: url('GothamPro-Bold/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('GothamPro-Bold/GothamPro-Bold.woff2') format('woff2'),
        url('GothamPro-Bold/GothamPro-Bold.woff') format('woff'),
        url('GothamPro-Bold/GothamPro-Bold.ttf') format('truetype'),
        url('GothamPro-Bold/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'GothamPro-Light';
    src: url('GothamPro-Light/GothamPro-Light.eot');
    src: url('GothamPro-Light/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
        url('GothamPro-Light/GothamPro-Light.woff2') format('woff2'),
        url('GothamPro-Light/GothamPro-Light.woff') format('woff'),
        url('GothamPro-Light/GothamPro-Light.ttf') format('truetype'),
        url('GothamPro-Light/GothamPro-Light.svg#GothamPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'StTransmission-400Regular';
    src: url('StTransmission-400Regular/StTransmission-400Regular.eot');
    src: url('StTransmission-400Regular/StTransmission-400Regular.eot?#iefix') format('embedded-opentype'),
        url('StTransmission-400Regular/StTransmission-400Regular.woff2') format('woff2'),
        url('StTransmission-400Regular/StTransmission-400Regular.woff') format('woff'),
        url('StTransmission-400Regular/StTransmission-400Regular.ttf') format('truetype'),
        url('StTransmission-400Regular/StTransmission-400Regular.svg#StTransmission-400Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'StTransmission-100CondensedThin';
    src: url('StTransmission-100CondensedThin/StTransmission-100CondensedThin.eot');
    src: url('StTransmission-100CondensedThin/StTransmission-100CondensedThin.eot?#iefix') format('embedded-opentype'),
        url('StTransmission-100CondensedThin/StTransmission-100CondensedThin.woff2') format('woff2'),
        url('StTransmission-100CondensedThin/StTransmission-100CondensedThin.woff') format('woff'),
        url('StTransmission-100CondensedThin/StTransmission-100CondensedThin.ttf') format('truetype'),
        url('StTransmission-100CondensedThin/StTransmission-100CondensedThin.svg#StTransmission-100CondensedThin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'StTransmission-600SemiBold';
    src: url('StTransmission-600SemiBold/StTransmission-600SemiBold.eot');
    src: url('StTransmission-600SemiBold/StTransmission-600SemiBold.eot?#iefix') format('embedded-opentype'),
        url('StTransmission-600SemiBold/StTransmission-600SemiBold.woff2') format('woff2'),
        url('StTransmission-600SemiBold/StTransmission-600SemiBold.woff') format('woff'),
        url('StTransmission-600SemiBold/StTransmission-600SemiBold.ttf') format('truetype'),
        url('StTransmission-600SemiBold/StTransmission-600SemiBold.svg#StTransmission-600SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'StTransmission-900CondensedExtr';
    src: url('StTransmission-900CondensedExtr/StTransmission-900CondensedExtr.eot');
    src: url('StTransmission-900CondensedExtr/StTransmission-900CondensedExtr.eot?#iefix') format('embedded-opentype'),
        url('StTransmission-900CondensedExtr/StTransmission-900CondensedExtr.woff2') format('woff2'),
        url('StTransmission-900CondensedExtr/StTransmission-900CondensedExtr.woff') format('woff'),
        url('StTransmission-900CondensedExtr/StTransmission-900CondensedExtr.ttf') format('truetype'),
        url('StTransmission-900CondensedExtr/StTransmission-900CondensedExtr.svg#StTransmission-900CondensedExtr') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}





