.fxpark-video-fencybox-cntlr{
	overflow: hidden;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
	-moz-box-shadow:    0px 0px 15px 0px rgba(0, 0, 0, 0.35);
	box-shadow:         0px 0px 15px 0px rgba(0, 0, 0, 0.35);
	height: 454px;
	max-width: 808px;
	width: 100%;
	position: relative;
	text-align: center;
	z-index: 1;
	margin-bottom: 40px;
}
.fxpark-video-img{
	height: 100%;
	width: 100%;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.fxpark-video-play-cntlr{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 1;
}
.fxpark-video-play-cntlr > a{
	width: 78px;
	height: 78px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 6px solid #fff;
	border-radius: 50% 50%;
	font-size: 22px;
	color: #fff;
}
.fxParkSlider.slick-slider .gifts-slider-item-cntlr{
	display: block;
}


/*responsive*/
@media(max-width: 1599px){
	
}
@media(max-width: 1499px){
	
}
@media(max-width: 1399px){
	.fxpark-video-fencybox-cntlr{
		height: 400px;
	}
}
@media(max-width: 1199px){
	.fxpark-video-fencybox-cntlr{
		height: 350px;
	}
}
@media(max-width: 991px){
	.fxpark-video-fencybox-cntlr{
		height: 300px;
	}
	.gifts-page-entry-hdr p br{
		display: none!important;
	}
}
@media(max-width: 767px){
	.fxpark-video-fencybox-cntlr{
		height: 250px;
	}
}
@media(max-width: 575px){
	.fxpark-video-fencybox-cntlr{
		height: 200px;
	}
}