.gifts-centent-cntlr{
	background: #f2f2f2;
	overflow: hidden;
}
.gifts-wing-left{
	position: absolute;
	top: 44px;
	bottom: 44px;
	left: -36.06%;
	z-index: 4;
}
.gifts-wing-right{
	position: absolute;
	top: 44px;
	bottom: 44px;
	right: -36.06%;
	z-index: 4;
}