.gifts-centent-cntlr{
	background: #f2f2f2;
	overflow: hidden;
}
.gifts-wing-left{
	position: absolute;
	top: 44px;
	bottom: 44px;
	left: 0%;
	z-index: 1;
}
.gifts-wing-right{
	position: absolute;
	top: 44px;
	bottom: 44px;
	right: 0%;
	z-index: 1;
}
.gifts-slider-item{
	display: flex;
	align-items: center;
	justify-content: center;
}
.gifts-page-entry-hdr{
	max-width: 930px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}