.page-body-cntlr{
	min-height: 1080px;
	position: relative;
	height: 100%;
}
.page-section-cntlr{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	left: 0;
}

.page-section-cntlr-inr{
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 2;
	display: flex;
	align-items: center;
	padding-top: 60px;
	padding-bottom: 60px;
}
.home-centent-cntlr{
	overflow: hidden;
}
.up-home-angle,
.down-home-angle{
	position: absolute;
}
	/*left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	z-index: 2;
}*/
.up-home-angle {
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}
.down-home-angle {
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
}
.down-home-angle img,
.up-home-angle img{
	display: inline-block;
	max-width: 1418px;
	width: 100%;
	height: auto;
}
.down-home-angle img{
	max-width: 1002px;
}
.home-centent-bg{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	background-size: cover!important;
	background-repeat: no-repeat!important;
}

.home-con-cntlr{
	max-width: 1033px;
	width: 100%;
	height: 920px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	position: relative;
	z-index: 20;
}
.home-con-cntlr-inr{
	background: url(../images/home-rhombus.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	margin-left: -25px;
}
.hm-con-des{
	max-width: 520px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
}
.hm-des-top-img{
	padding: 125px 0 35px;
}
.hm-con-des p{
	margin-bottom: 10px;
}
.hm-con-des p strong{
	font-weight: normal;
}

.hm-con-des-btn{
	padding-top: 13px;
	padding-bottom: 35px;
}

.hm-des-btm-img img{
	max-width: 342px;
	height: auto;
}
/*responsive*/
@media(max-width: 1499px){

}
@media(max-width: 1399px){
	
}
@media(max-width: 1299px){
	
}
@media(max-width: 1199px){
	
}
@media(max-width: 991px){
	.down-home-angle img{
		max-width: 615px;
	}
	.hm-des-top-img{
		padding-bottom: 20px;
		padding-top: 140px;
	}
	.hm-con-des{
		padding: 0 35px;
		padding-top: 20px;
	}
	.hm-des-top-img img{
		display: inline-block;
		max-width: 200px;
	}
}
@media(max-width: 767px){
	.up-home-angle,
	.down-home-angle,
	.home-centent-bg{
		display: none;
	}
	.home-con-cntlr-inr{
		background: transparent!important;
	}
}
@media(max-width: 575px){
	
}
