.page-body-cntlr{
	min-height: 1080px;
}
.page-section-cntlr{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	left: 0;
}

.page-section-cntlr-inr{
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 2;
	display: flex;
	align-items: center;
	padding-top: 60px;
	padding-bottom: 60px;
}
.home-centent-bg{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	background-size: cover!important;
	background-position: center bottom!important;
	background-repeat: no-repeat!important;
}

.home-con-cntlr{
	max-width: 920px;
	width: 100%;
	height: 920px;
	background: url(../images/home-rhombus.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.hm-con-des{
	max-width: 520px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.hm-des-top-img{
	padding: 125px 0 40px;
}
.hm-con-des p strong{
	font-weight: normal;
	font-family: 'St-Transmission-SemiBold';
}